@import url(./liveButton.css);
@import url(./svgLoader.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
    -webkit-user-select: none;
    user-select: none;
    --cubic-bezier: cubic-bezier(0.65, 0.05, 0.1, 1);
    --text-color: rgb(0, 0, 0);
    --text-sub-color: rgb(96, 96, 96);
    --text-highlight-color: linear-gradient(135deg, rgb(132, 0, 255), rgb(0, 102, 255));
    --focus-border: rgb(52, 52, 52);
    --progressbar-bg: rgb(226, 226, 226);
    --progressbar-inner-bg: linear-gradient(135deg, rgb(132, 0, 255), rgb(0, 102, 255), rgb(132, 0, 255), rgb(0, 102, 255), rgb(132, 0, 255));
    --button-primary-color: rgb(240, 240, 240);
    --button-primary-bg: rgb(0, 132, 255);
    --button-primary-focus-border: rgb(0, 0, 0);
    --icon-color-1: linear-gradient(135deg, rgb(0, 132, 255), rgb(0, 255, 191));
    --icon-color-2: linear-gradient(135deg, rgb(255, 183, 0), rgb(255, 51, 0));
    --content-bg: rgb(240, 240, 240);
    --section-bg: rgb(250, 250, 250);
    --dialog-bg: rgb(255, 255, 255);
    --border: rgb(188, 188, 188);
}

@media (prefers-color-scheme: dark) {
    * {
        --text-color: rgb(255, 255, 255);
        --text-sub-color: rgb(205, 205, 205);
        --text-highlight-color: linear-gradient(135deg, rgb(217, 0, 255), rgb(0, 174, 255));
        --focus-border: rgb(200, 200, 200);
        --progressbar-bg: rgb(86, 86, 86);
        --content-bg: rgb(30, 30, 30);
        --section-bg: rgb(50, 50, 50);
        --dialog-bg: rgb(16, 16, 16);
        --border: rgb(80, 80, 80);
    }
}

svg {
    width: 100%;
}

.text {
    color: var(--text-color);
}

.text_sub {
    color: var(--text-sub-color);
}

.highlight {
    color: transparent;
    background-image: var(--text-highlight-color);
    -webkit-background-clip: text;
    background-clip: text;
}

.paragraph {
    font-size: 15px;
}

.animate_list {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

.animate_list>span {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    animation: animate_list_in_out 1.8s var(--cubic-bezier) both;
}

.animate_list>span:nth-child(1) {
    position: static;
    animation: none;
    visibility: hidden;
}

.animate_list>span:nth-last-child(1) {
    animation: animate_list_out 1.8s var(--cubic-bezier) both;
}

@keyframes animate_list_in_out {
    0% {
        opacity: 0;
        transform: translateY(120%);
    }

    25%,
    75% {
        opacity: 1;
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(-120%);
    }
}

@keyframes animate_list_out {
    0% {
        opacity: 0;
        transform: translateY(120%);
    }

    25%,
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.inline_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#content {
    background-color: var(--content-bg);
}

.dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: var(--dialog-bg);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    opacity: 0;
    box-shadow: #00000062 0px 0px 20px 1px;
    pointer-events: none;
    z-index: 100;
    border: var(--border) 1px solid;
}

@media screen and (max-width: 500px) {
    .dialog {
        width: calc(100vw - 100px);
    }
}

.transition .dialog {
    transition: opacity 0.2s var(--cubic-bezier), transform 0.2s var(--cubic-bezier);
}

.dialog_show {
    transform: translate(-50%, -50%) scale(1);
    pointer-events: all;
    opacity: 1;
}

.dialog_show~#content {
    pointer-events: none;
}

.dialog_title {
    color: var(--text-color);
    font-size: 25px;
}

.dialog_sub {
    color: var(--text-color);
    font-size: 16px;
}

.dialog_btns {
    text-align: right;
}

#cover {
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-image: url(../img/bg_light.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(0);
    /* transition: transform 0.01s linear, opacity 0.01s linear; */
}

@media (prefers-color-scheme: dark) {
    #cover {
        background-image: url(../img/bg_dark.svg);
    }
}

#cover_logo {
    width: 200px;
    height: 200px;
}

#cover_title {
    width: 160px;
    color: var(--text-color);
}

#cover_subtitle {
    font-size: 25px;
    color: var(--text-color);
    overflow: hidden;
    text-align: center;
}

.icon {
    width: 90px;
    height: 90px;
    position: relative;
    flex-shrink: 0;
}

.icon::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 60px;
    font-weight: 600;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    white-space: nowrap;
}

.icon_dev {
    width: 120px;
    height: 80px;
}

.icon_dev::before {
    content: "</>";
    background-image: var(--icon-color-1);
}

.icon_download {
    width: 60px;
    height: 120px;
}

.icon_download::before {
    content: ">";
    background-image: var(--icon-color-2);
    font-size: 75px;
}

.progressbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.progressbar_box {
    width: 100%;
    height: 12px;
    border-radius: 9px;
    background-color: var(--progressbar-bg);
    border: var(--border) 1px solid;
}

.progressbar_inner {
    position: relative;
    height: 10px;
    border-radius: inherit;
    border-radius: 5px;
    overflow: hidden;
}

.progressbar_inner>span {
    position: absolute;
    background-image: var(--progressbar-inner-bg);
    background-size: 100% 100%;
    left: 0;
    width: 500%;
    height: 100%;
    animation: progressbar_inner_bg 3s linear infinite;
}

@keyframes progressbar_inner_bg {
    0% {
        left: 0;
    }

    100% {
        left: -250%;
    }
}

.progressbar_text {
    color: var(--text-color);
    font-size: 12px;
    flex-shrink: 0;
}

#sections {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: var(--section-bg);
    border-radius: 8px;
    max-width: 90%;
    border: var(--border) 1px solid;
    box-shadow: #0000004d 0 0 20px 0px;
    transform: translate(0);
}

@media screen and (min-width: 768px) {
    #sections {
        max-width: 740px;
    }
}

@media screen and (min-width: 576px) {
    #sections {
        max-width: 560px;
    }
}

.section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

@media screen and (max-width:580px) {
    .icon_float {
        position: absolute;
        right: 20px;
        bottom: 0px;
    }
}

.section_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}

.section_title {
    font-weight: 600;
}

#footer {
    padding: 20px;
    background-color: var(--content-bg);
}

#footer_links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#footer_links li {
    flex-shrink: 0;
    color: var(--text-sub-color) !important;
}

#footer_links a {
    color: inherit !important;
    text-decoration: none !important;
}

#footer_links a:hover {
    text-decoration: underline !important;
}

.infotable {
    border: none;
    font-size: 15px;
}

.infotable>tbody>tr>td:nth-child(1) {
    padding-right: 10px;
    white-space: nowrap;
    width: 100px;
}

.infotable>tbody>tr>td:nth-child(2) {
    word-break: break-all;
}